<ng-container *ngIf="!view">
    <h1>Kindly Please Login to see Your processing Details</h1> 
</ng-container>
<ng-container *ngIf="view">
    <div class="table-responsive">
            <table class="table table-striped table-dark ">
                <thead>
                <tr>
                        <th *ngFor="let head of headers" scope="col">{{head}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of datas">
                    <td *ngFor="let value of headers">{{data[value]}}</td>
                </tr>
                </tbody>
            </table>
    </div>
</ng-container>

